.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: auto;
    margin-left: auto;
    width: 900px;
}

input[type="text"] {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.right {
  position: fixed;
  bottom: 0;
  left: 0;
}

  #resultsList {
    max-height: auto;
    overflow-y: auto;
    border-left: 3px solid black;
    padding-left: 1%;
  }
