.search-container {
  float: left;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  margin-right: auto;
    margin-left: auto;
    width: 280px;
    border: solid gray 1px;
    border-radius: 20px;
}

input[type="text"] {
  padding: 8px;
  width: 200px;
  color: white;
  border: 0px;
  border-radius: 20px;
  background-color: transparent;
}

button {
  padding: 8px 16px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  background-color: transparent;
}
.right {
  position: fixed;
  bottom: 0;
  left: 0;
}

  #resultsList {
    max-height: auto;
    overflow-y: auto;
    border-left: 3px solid black;
    padding-left: 1%;
  }
