/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: sans-serif;
  background-color: #3F182C;
  color: white;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  margin-right: auto;
    margin-left: auto;
    width: 900px;
}

/* Header styles */
header {
  position: sticky;
  background-image: linear-gradient(to 
  bottom, darkblue, #3F185C);
  color: white;
  padding: 20px;
  text-align: center;
  border: 3px solid black;
  margin-right: auto;
    margin-left: auto;
    width: auto;
  border-radius: 10px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: cursive;
}

header a {
  color: white;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Main content styles */
main {
  padding: 20px;
}

section {
  background-color: #3F183D;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid forestgreen;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Links */
a {
  color: royalblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.slideshow {
      position: relative;
      max-width: 850px;
      margin: auto;
    }

    .slide {
      display: right;
    }

    .slide img {
      width: 100%;
      height: auto;
      border: 3px solid black;
      border-radius: 10px
    }

    .prose {
      position: absolute;
      bottom: 15px;
      left: 5%;
      text-align: left;
      color: white;
    }

    .prose h2 {
      font-size: 24px;
      margin: 0 0 10px;
    }

    .prose p {
      font-size: 18px;
      margin: 0 0 20px;
    }

    .prose a {
      display: inline-block;
      padding: 10px 20px;
      background-color: transparent;
      border: 3px solid white;
      color: white;
      text-decoration: none;
      border-radius: 50px;
      transition: background-color 0.3s ease;
    }

    .prose a:hover {
      background-color: #2980b9;
    }
    iframe {
      border: 3px solid limegreen;
      border-radius: 10px;
    }
    .tie {
      margin-right: auto;
    margin-left: auto;
    }
    img#tie {
  max-width: 300px;
  max-height: 350px;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
}
.floating-video {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 9999;
}
.tie h1 {
  color: blue;
  text-align: center;
}
.tie h2 {
  color: blue;
  text-align: center;
  border: 2px solid black;
  border-radius: 50px;
}
.tie p {
  color: blue;
  text-align: center;
  border: 2px solid black;
  border-radius: 50px;
  text-decoration: bold;
}
section#about {
  background-color: #3F185C;
}
section#uptitle {
  color: darkblue;
}
img#team {
  max-width: 75px;
  max-height: 75px;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
}
.story h1 {
  border-bottom: 3px solid black;
  margin-right: auto;
    margin-left: auto;
    width: auto;
}
.story b {
  text-decoration: underline yellow;
}
a#Redirect {
  color: white;
  font: italic "Shadded South" Fantasy;
}
a#Redirect:hover {
  text-decoration: underline black;
}
table {
  border-collapse: collapse;
  border: 2px solid forestgreen;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: #3F186C;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: #3F187C;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
  }
